@import-normalize; /* bring in normalize.css styles */
/* rest of app styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Css properties that will be applied to elements in all sections*/

@media screen { html,body {min-width:1000px;min-height: 620px;} }

.overflow-wrap {
  overflow-x: hidden !important;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

section {
  height: calc(100vh);
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* @media screen and (min-width: 600px){
  section {
    line-height: 18px;
    /* padding: 100px 0px 130px 0px; 
  }
} */

/* Navbar Syles */

.header {
  position: fixed;
  width: 100%;
  text-align: right;
  transition: 0.25s;
  z-index: 2;
  color: black;
}

.header ul li {
  font-size: 1.25rem;
  display: inline;
  padding-right: 3rem;
  cursor: pointer;
}

.navitem > .active {
  border-bottom: 2px solid white;
}

.scrolled {
  display: block;
  position: fixed;
  color: white;
  background-color: #9844cb;
}

/* Intro Section Css properties */

.intro-background {
  background-color: #CC74FF;
  opacity: .6;  
  height: 100vh;
  width: 100%;
  position: absolute;
}

.intro-content {
  z-index: 1;
  color: white;
  font-size: 60;
}

.MePic {
  width: 150px;
  height: 150px;
  vertical-align: middle;
  align-content: center;
}

/* About Section Css properties */

.about-background {
  background-color: #008ba3;
  opacity: .6;  
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.container {
  padding: 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.left-card {
  height: 70vh;
  width: 40vw;
  float: left;
  margin-left: 4vw;
  margin-top: 10vh;
  padding-top: 3vh;
  background-color: white;
}

.right-card {
  height: 70vh;
  width: 40vw;
  float: right;
  margin-top: 15vh;
  margin-right: 4vw;
  padding-top: 3vh;
  background-color: white;
}

.about-desc {
  margin:'2vh';
  font-weight: '100';
  line-height: '1.5';
  font-size: 1.5ch;
}

  /* Progress Bar */

.containerStyles {
  width: 75%;
  background-color: #e0e0de;
  border-radius: 50px;
  margin-left: 1.5rem;
  margin-right: .1rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.fillerStyles {
  height: 100%;
  border-radius: inherit;
  transition: width 1s ease-in-out;
}

.labelStyles {
  padding: 5px 0px;
  color: black;
  font-weight: bold;
  border-radius: inherit;
  display: block;
}
 
.skills-table table {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-collapse: collapse;
}

.skill-name {
  width: 20%;
}
/*
.skills-table > thead{
  font-weight: bold;
  padding: 15px;
  background-color: gray;
  color: white;
  padding: 5px;
}

.skills-table > table, th, td{
  border: solid black;
  height: 50px;
  padding: 10px;
  width: 10vw;
} */

/* Projects Section Css properties */

.projects-background {
  background-color: #FFCC74;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.project-cards {
  height: 100vh;
  width: 100vw;
}

.project-card-grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr;
}

.project-container {
  position: relative;
  height: 35vh;
  width: 25vw;
  background-color: white;
  text-align: center;
  font-size: 1.25rem;
  cursor: pointer;
  margin: 2vh auto;
  padding: 10px;
}

.projimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6vw;
  /* left: 35%; */
/*  justify-content: center;
  align-content: center;*/
  z-index: 1;
  transition: opacity .5s;
}


.projimg-text {
  color: black;
  transform: translate(-50%);
  font-size: 1.25ch;
  opacity: 0;
  transition: opacity .5s;

}

.project-container:hover > .projimg {
  opacity: 0;
}
.project-container:hover > .projimg-text {
  opacity: 1;
}

/* Intro Section Css properties */

.contact-background {
  background-color: #A7FF74;
  opacity: .6;  
  height: 100vh;
  width: 100%;
  position: absolute;
}

.contact-content {
  z-index: 1;
  color: black;
  font-size: 60;
  width: 50vw;
}

.contact-form {
  width: inherit;
}

.contact-field {
  display: block;
  width: inherit;
  font-family: inherit;
  border: 0;
  box-sizing: border-box;
  font-size: 12pt;
  margin-bottom: 3px;
  outline: none;
  padding: 10px 15px;
}

.contact-textarea {
  margin-bottom: 5px;
  min-height: 150px;
}

/* .contact-submit {
  background: transparent;
  font-size: 12pt;
  margin: 5px 0 0 0;
  outline: 0;
  padding: 10px 30px;
} */

.contact-icon {
  height: 100px;
  z-index: 100;
  cursor: pointer;
  margin: 20px;
  /* background-color: ; */
}
/************************* START BORROWED CODE *************************/
.hide {
  display: none;
}

.submit-button {
  align-self: flex-end;
  display: block;
  font-family: 'Montserrat', sans-serif;
  /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  font-weight: 600;
  text-transform: uppercase;
  font-size: 0.75em;
  letter-spacing: 1px;
  height: 40px;
  width: 120px;
  line-height: 38px;
  overflow: hidden;
  background: #ff74a7;
  border-radius: 3px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}
.submit-button:hover, .submit-button:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.submit-button.animated {
  -webkit-animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
          animation: 0.75s short-press cubic-bezier(0.77, 0, 0.175, 1) forwards;
}
.submit-button > span {
  display: block;
  color: white;
  text-align: center;
}
.submit-button > span.pre-state-msg {
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: 0.75s;
}
.submit-button.state-1 .pre-state-msg {
  margin-top: -38px;
}
.submit-button.state-2 .pre-state-msg {
  margin-top: -76px;
}
/************************* END BORROWED CODE *************************/
/* Component specific Css properties */

/* .App-logo {    
  height: 40vmin;
  width: 64px;
  height: 64px;
  cursor: pointer;
  vertical-align: middle;
  align-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 64px;
    height: 64px;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.sidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  width: 350px;
  background:#1B1C1D;
  color: white;
  overflow-x: hidden;
  flex: 1;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  /* scrollbar-width: none;  /* Firefox */
/*}

/* .sidebar::-webkit-scrollbar {
  display: none;
}

.content {
  margin-left: 350px;
  min-width: 500px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
